<html>
  <head>
    <title> Riya's Blog </title>
  </head>
  <body>
    <div>
      <h1><a href="/"> ABOUT VICTORIA</a></h1>
    </div>
    <div>
      <p>published: 17.11.2018, 02:37PM</p>
      <h2><a href="">Overview</a></h2>
      <p>Hugging the tip of Australia's east coast, Victoria is Australia's second-smallest state, covering 227,600 square kilometres – roughly the size of the British Isles.

A wealth of diverse regions and attractions are packed into this compact area, with sweeping coastlines, pristine beaches and national parks and forests teeming with wildlife, plus wineries, lakes and mountains offering skiing, climbing and hiking. Best of all, many of Victoria's unique and varied landscapes are easily reached as day trips from Melbourne.</p>
    </div>

    <div>
      <h2><a href="">Seasons and Climate</a></h2>
      <p>Despite the small size, Victoria's climate varies across the state. The north has much drier and warmer weather than the south. Australia's seasons are the reverse of those in the northern hemisphere. The climate is warm to hot in summer (December to February), mild in autumn (March to May), crisp in winter (June to August), and cool in spring (September to November).</p>
    </div>

  </body>
</html>
